@media only screen and (min-width: 768px) {
  body .mobile {
    display: none;
  }

  body .Desktop {
    display: block;
  }

  .menu {
    display: flex;
    background-color: white;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    margin-left: -1rem;
  }

  .menuDesk {
    display: flex;
  }

  .menuDesk li {
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .menuDesk li:first-child {
    margin-right: 12rem;
    margin-top: 0;
  }

  .home-page {
    background-size: 256vmin 1072px;
  }

  #headerList {
    background-color: #272a31;
    display: flex;
    justify-content: flex-end;
  }

  .featuredSpeakers .speakers li.hide.hidden {
    display: flex;
  }

  #headerList .languages {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #headerList .twitter {
    width: 3ch;
    height: 3ch;
    margin-top: 7px;
    color: white;
  }

  .container {
    align-items: center;
  }

  .container p.display-1 {
    margin-left: -189px;
    font-size: 30px;
  }

  #headerList .facebook a p {
    font-size: 30px;
    color: white;
    font-weight: bolder;
    width: 20px;
    margin: 2px;
    font-family: sans-serif;
  }

  .LogoDesktop {
    width: 6rem;
    height: 5rem;
  }

  .container h1 {
    margin-left: 100px;
    font-size: 60px;
    margin-bottom: -8px;
  }

  .text-container {
    width: 67vmax;
    height: 11vmax;
    margin-right: -2rem;
    background-color: rgba(243, 243, 243, 0.473);
  }

  .home-page .date {
    text-align: left;
    margin-left: 50px;
  }

  .home-page .date .location_ {
    margin-left: 48px;
  }

  .program {
    display: flex;
    justify-content: center;
    margin-right: 17px;
  }

  .featuredSpeakers .speakers li {
    margin-right: 10px;
  }

  .home-page .mainProgram .program li {
    margin-left: -6px;
    height: 10rem;
    width: 9rem;
    padding-top: 1rem;
    flex-direction: column;
    margin-right: 10px;
  }

  .home-page .mainProgram .program li .text {
    margin-left: 1px;
  }

  .mainProgram h2.Desktop {
    color: rgb(219, 216, 216);
    font-size: 11px;
  }

  .mainProgram h2.Desktop::after {
    background-color: rgb(185, 184, 184);
    margin-top: 1px;
    width: 140px;
    font-weight: normal;
    margin-bottom: 4rem;
  }

  .speakers {
    display: grid;
    height: 900px;
  }

  /* featuerd speakers */

  .featuredSpeakers .speakers li.third {
    grid-column: 1;
    grid-row: 3;
  }

  .featuredSpeakers .speakers li.fifth {
    grid-column: 2;
    grid-row: 2;
  }

  .featuredSpeakers .speakers li.fourth {
    grid-column: 2;
    grid-row: 1;
  }

  .featuredSpeakers .speakers li.six {
    grid-column: 2;
    grid-row: 3;
  }

  footer.Partner.hidden {
    display: flex;
    background-color: #252626;
  }

  footer.Partner.hidden .PartnerContainer img {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  footer.Partner .finalLogo {
    justify-content: center;
    margin-top: 10px;
  }

  .LogoImageContainer {
    width: 729px;
    height: 36vmax;
  }

  .text-containerAbout-page {
    width: 30rem;
  }

  .logoImage {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .PastContainer {
    flex-direction: row;
  }

  .PastContainer div {
    margin-right: 1rem;
    height: 10rem;
  }

  .pastImg.second,
  .pastImg.first {
    height: 33vmax;
  }
}
